body{
  background-color: rgb(0, 219, 249);  /*just in case*/
  background: linear-gradient(to bottom, rgb(0, 154, 203), rgb(0, 219, 249));
  margin: 5% 1% 2% 1%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}

.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item{
  background-color: rgba(255,255,255,0.4);
  self-align: center;
}

#main-card{
  width: 50%;
}

#display-card{
  width: 60%;
}

#main-button-row{
  justify-content: space-between;
  width: 60%;
  margin: 1%;
}

.btn{
  height: 38px;
  margin: 1%;
}

#footer{
    margin-top: 1%;
    padding-top: 5px;
    padding-bottom: 1px;
}

h1{
  font-family: Impact, Charcoal, sans-serif ;
}

h2{
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}

h3{
  text-align: right;
  font-size: 14px;
  font-family: 'Lobster', cursive;
}

h6{
  font-family: 'Indie Flower', cursive;
}